
.dash {
  position: relative;
}
.dash-sidebar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 100px;
}

.dash, .dash-map {
  height: 100%;
  width: 100%;
}

.dash-box {
  display: flex;
  
  width: 400px;
  height: auto;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  box-sizing: border-box;
  

  align-items: center;
  justify-content: space-around;
  border: 1px solid #e0e0e0;
  
  background-color: white;
  margin: 15px 0 15px 0;
  padding: 10px;
}

.dash-box.filter{
  flex-direction: row;
  z-index: 3000;
}

.dash-box.features{
  flex-direction: column;
  z-index: 2999;
}
.dash-box.features ul{
  height: 200px;
  overflow: scroll;
  list-style-type: none;
}

.dash-box.features ul,
.dash-box.features li{
  margin: 5px;
  padding: 0px;
  cursor: pointer;
}

.dash-box.detail {
  flex-direction: column;
  z-index: 2999;
}
